/* SF Mono Font Face Definitions */
@font-face {
    font-family: 'SF Mono';
    src: url('../fonts/SFMono/SFMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('../fonts/SFMono/SFMono-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('../fonts/SFMono/SFMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('../fonts/SFMono/SFMono-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wallpoet';
    src: url('../fonts/Wallpoet/Wallpoet-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.font-wallpoet {
    font-family: 'Wallpoet', sans-serif;
}